site_name: {{ 'SYSTEM_NAME' | env }} container cloud
pages:
  - Home: index.md
  - Introduction:
    - Service description: introduction/service_description.md
    - Background: introduction/background.md
    - Technical maturity: introduction/technical_maturity.md
    - Getting access: introduction/access.md
    {% if ('BILLING_ENABLED' | env) == 'True' %}
    - Billing: introduction/billing.md
    {% endif %}
  - Usage:
    - Getting started: usage/getting_started.md
    - Projects and quota: usage/projects_and_quota.md
    - Command line tool usage: usage/cli.md
    - Security guide: usage/security-guide.md
  - Tutorials:
    - Deploying applications from web console: tutorials/basic-console.md
    - Core objects: tutorials/elemental_tutorial.md
    - Utility objects: tutorials/advanced_tutorial.md
    - Design patterns: tutorials/patterns.md
  - Template documentation: template-docs.md
  - Contact: contact.md
  - External documentation: ext_docs.md
  {% if ('SHOW_AGREEMENTS' | env) == 'True' %}
  - Agreements:
    - Terms of Use: agreements/terms_of_use.md
    - Service Level Agreement: agreements/sla.md
  {% endif %}
theme:
  name: readthedocs
  custom_dir: theme_customization/
extra_css:
  - css/extra.css
extra_javascript:
  - https://use.fontawesome.com/e51b07f7f1.js
markdown_extensions:
  - admonition
  - attr_list
  - mdx_linkify
  - mdx_environment
extra:
  system_name: {{ 'SYSTEM_NAME' | env }}
  oso_web_ui_url: {{ 'OSO_WEB_UI_URL' | env }}
  oso_registry_url: {{ 'OSO_REGISTRY_URL' | env }}
