<!doctype html>
<html lang="en">
  <head>
    <title>Rahti</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/styles.css">
    <!-- CSC Design System -->
    <script src="https://cdn.jsdelivr.net/npm/csc-ui@0.6.77/dist/cscwebcomponents/cscwebcomponents.esm.js" type="module"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/csv4mjm.css">
    <link rel="icon" type="image/x-icon" href="/static/CSC_2012_LOGO.png">

  </head>
  <body>

<c-main>
  <c-toolbar class="relative"><c-csc-logo></c-csc-logo><a target="_self" href="index.html">Rahti</a></c-toolbar>
  <c-container class="content">
    <c-row>
      <div class="col content-c1">
        <h2>Accessibility Statement</h2>

            <p> Rahti respects everyone's equal right to accessible content and an easy-to-use website that complies with the requirements of legislation regarding accessibility. We are constantly working to ensure accessible content now and in the future. 
            Rahti strives to guarantee the accessibility of websites in accordance with the Act on the provision of digital services 306/2019. Did you notice any flaws? You can report them to us and give accessibility-related feedback by email to webmaster@csc.fi .
            The supervisory authority in accordance with the law is the Regional Administrative Office of Southern Finland, which supervises compliance with the stipulated obligations and requirements.</p>

        <h3>Accessibility of Rahti </h3>

            <p> This accessibility report explains how the rahti.csc.fi website comply with the law on the provision of digital services, what shortcomings there are in the accessibility of the websites, and how you can give us feedback about accessibility problems.
            CSC - Science Information Center Oy is responsible for these online services. We want as many users as possible to be able to use our digital services. We take accessibility into account in the development of digital services. </p>

        <h3>Did you notice any gaps in accessibility?</h3>

            <p> We constantly strive to improve the accessibility of online services. If you find any problems that are not described on this page, please let us know and we will do our best to fix them. We will respond within 14 days. You can contact us by e-mail at servicedesk(at)csc.fi</p>

        <h3>Accessibility control </h3>

            <p>The Regional Administrative Agency of Southern Finland supervises the implementation of accessibility requirements. If you are not satisfied with the answer you received or if you do not receive a reply at all within two weeks, you can give feedback to the Regional Administrative Office of Southern Finland. 
            The page of the Regional Administrative Agency of Southern Finland explains exactly how to make a complaint and how the matter is handled. <br><br>  

            Regional Administrative Agency of Southern Finland <br>
            Accessibility Control Unit <br>
            savutettavus(at)avi.fi <br>
            phone number switch 0295 016 000</p>

        <h3>More detailed information about audition report on accessibility </h3>

            <p>rahti.csc.fi online service is not yet accessible in all respects.   

            Contents or functions that are not yet accessible: </p>

            <ul>
                <li>Link text (blue) doesn’t meet minimum color contrast ratio threshold in the landing page (WCAG 2.2, 1.4.3)</li>
                <li>Document should have one main landmark in the landing page</li>
                <li>Page should contain a level-one heading in the landing page</li>
                <li>All page content should be contained by landmarks in the landing page</li>
                <li>Login button missing in the login options page informative alternative text NVDA, Jaw (WCAG 2.2, 1.1.1)</li>
                <li>Logo missing alternative text in the login options page (WCAG 2.2, 1.1.1)</li>
                <li>Elements should not have tabindex greater than zero (three instances) in the login options page</li>
                <li>Language missing or invalid in the select authentication provider (WCAG 2.2, 3.1.1,)</li>
                <li>Eye Icon doesn´t get focus Android+talkback, iOS+VoiceOver, keyboard only (Firefox) in CSC login option (WCAG 2.2, 2.4.7)</li>
                <li>Eye icon gets focus but doesn’t have alternative text. Selecting the icon doesn’t show the password to the user but works the same way as “Login” button, leading the user to the Rahti service., VoiceOver+Firefox in CSC login option (WCAG 2.2, 1.1.1)</li>
                <li>Browsing with screen reader doesn’t start at the top of the page, but from the username field in CSC login option. (WCAG 2.2, 2.4.3)</li>
                <li>“Hint” information can be found by screen reader but it is not visible on CSC login option. The “hint” information doesn’t have any information in it. Firefox+VoiceOver, iOS+VoiceOver  (WCAG 2.2, 1.1.1)</li>
                <li>When signing in with wrong credentials the error message appears just before the “Login” button. The screen reader focus doesn’t move there after the login attempt in CSC login option which means that the screen reader user only gets the error information after browsing almost the whole form. (WCAG 2.2, 3.3.1)</li>
                <li>Empty form label in billing docs (45 Errors, Wave) (WCAG 2.2, 1.1.1,1.3.1,2.4.6,3.3.2)</li>
                <li>Multiple form labels in billing docs (WCAG 2.2, 1.1.1,1.3.1,2.4.6,3.3.2) </li>
                <li>Elements must meet minimum color contrast ratio thresholds in billing page (2 Errors) (WCAG 2.2, 1.4.3)</li>
                <li>Scrollable region must have keyboard access in billing page. (WCAG 2.2, 2.1.1)</li>
                <li>All touch targets must be 24px large, or leave sufficient space in billing page (5 errors) (WCAG 2.2, 1.4.3,)</li>
                <li>Links that lead outside of the service are not explicit in billing page. (WCAG 2.2, 2.4.4)</li>
                <li>Focus order is not logical in billing page. Focus moves to the right side of the page after navigation and comes to the main content after that. (WCAG 2.2, 2.4.3)</li>
                <li>Visit other CSC sites menu opens when it gets focus. Screen reader user can’t close the menu or pass it without going through all the menu items. Firefox+VoiceOver (WCAG 2.2, 2.1.1,)</li>
                <li>Menu doesn’t get focus in billing page. (WCAG 2.2, 2.4.7)</li>
                <li>Billing Page has lots of elements that get focus, but don´t have any content in it. (WCAG 2.2, 2.4.3)</li>
                <li>Links that lead outside of the service are not explicit in billing page. (WCAG 2.2, 2.4.4)</li>
            </ul>

            <ul>
                Inside the console
                <li>All touch targets must be 24px large, or leave sufficient space Element Location:button[data-ouia-component-id="OUIA-GeneratedButton-link-35"] in deployment status (WCAG 2.2, 2.5.8)</li>
                <li>“Display options” menu doesn’t close even though the focus isn’t anymore on the menu in deployment status. Voiceover+Firefox (WCAG 2.2, 1.4.13)</li>
                <li>Navigation icon doesn’t tell the user if the menu is opened or closed: “paina Global Navigation, expanded, painike”. User doesn’t get any feedback about what happens when she/he selects
                 the menu icon.  Screen reader user’s focus doesn’t move directly from burger menu icon to the navigation. Instead, the user needs to navigate the whole header before finding the 
                 pages in the menu. Firefox+VoiceOver, iOS+VoiceOver (WCAG 2.2, 2.4.3) </li>
                <li>Dropdown in the beginning of the navigation has 2 menu items: developer and administrator. For screen reader user the items are just “menu item”. (WCAG 2.2, 1.1.1)</li>
                <li>In project list, table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader. 
                Also screen reader user doesn´t get any information when changing order with arrows. NVDA, JAWS, VoiceOver (WCAG 2.2, 1.1.1., 1.3.1)</li>
                <li>In project list, certain ARIA roles must contain particular children div[aria-label="Projects"] (WCAG 2.2, 1.3.1)</li>
                <li>In project list, All touch targets must be 24px large, or leave sufficient space button[data-ouia-component-id="OUIAGenerated-Button-link-25"] (WCAG 2.2, 2.5.8)</li>
                <li>The project name links don’t get focus when using only keyboard in project list page. Firefox (WCAG 2.2, 2.4.3)</li>
                <li>User may leave the name dropdown menu without closing it in project list. (WCAG 2.2, 2.1.2)</li>
                <li>Menu doesn´t close when focus moves out. User cannot see the focused content at all in project list. Android+Talkback, iOS+VoiceOver (WCAG 2.2, 2.4.7)</li>
                <li>Browsing with screen reader doesn’t start at the top of the page, but from the username field in new project window (WCAG 2.2, 2.4.3 ). iOS+Firefox</li>
                <li>All touch targets must be 24px large, or leave sufficient space button in new project window [data-ouia-component-id="OUIA-GeneratedButton-link-25"] (WCAG 2.2, 2.5.8)</li>
                <li>Screen reader users don´t get enough information about the content of graphs in project overview. Jaws, NVDA, Talkback, VoiceOver (WCAG 2.2, 1.1.1) </li>
                <li>Screenreader user isn’t able to close the Actions dropdown menu in project overview. VoiceOver (WCAG 2.2, 2.1.2)</li>
                <li>Screen reader user isn’t able to open the “View all” link under Details -> Labels in project overview (WCAG 2.2, 4.1.2) </li>
                <li>Very low contrast between text and background colors in project overview. (2 instances) (WCAG 2.2, 1.4.3)</li>
                <li>ARIA hidden element must not be focusable or contain elements in project overview (WCAG 2.2, 4.1.2)</li>
                <li>Interactive controls must not be nested<button class="pf-c-expandable-section__toggle" type="button" aria-expanded="false" (WCAG 2.2, 4.1.2)></li>
                <li>Table headers are not connected to table correctly in project metrics. 
                User gets misinformation about number of columns and rows with screen reader. Also screen reader user doesn´t get any information when changing order with arrows. NVDA, JAWS, VoiceOver (WCAG 2.2, 1.1.1., 1.3.1)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys) in project metrics. Also applies to other tables.  VoiceOver (WCAG 2.2, 4.1.2)</li>
                <li>Certain ARIA roles must contain particular children in project metrics table class="ReactVirtualized__VirtualGrid ReactVirtualized… (WCAG 2.2, 1.3.1)</li>
                <li>Table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader in project metrics page. 
                Also screen reader user doesn´t get any information when changing order with arrows. (NVDA, JAWS, VoiceOver) (WCAG 2.2, 1.1.1., 1.3.1,)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys) in project metrics. Also applies to other tables.  VoiceOver (WCAG 2.2, 4.1.2 )</li>
                <li>Certain ARIA roles must contain particular children <div role="grid" aria-label="DeploymentConfigs" aria-rowcount="1" style="position: relative;"> (WCAG 2.2, 1.3.1,)</li>
                <li>ul and ol must only directly contain li, script or template elements (WCAG 2.2, 1.3.1,)</li>
                <li>ul and ol must only directly contain li, script or template elements Element Location: section[aria-labelledby="pf1702325589072f14nav3tk3f"] > ul (WCAG 2.2, 1.3.1,)</li>
                <li>Table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader. 
                Also screen reader user doesn´t get any information when changing order with arrows. (NVDA, JAWS, VoiceOver)(WCAG 2.2, 1.1.1., 1.3.1,)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys). Also applies to other tables.  VoiceOver (WCAG 2.2 , 4.1.2)</li>
                <li>Elements must only use supported ARIA attributes (8 issues) th data-label="Name" scope="col" class="pf-c-table__sort pf-mselected" data-key="0" aria-sort="ascending" (WCAG 2.2, 1.3.1)</li>
                <li>Certain ARIA roles must contain particular children Element Location:.co-virtualized-table (WCAG 2.2, 1.3.1)</li>
                <li>All touch targets must be 24px large, or leave sufficient space Element Location in project metrics page:.co-m-primary-action (WCAG 2.2, 2.5.8)</li>
                <li>ul and ol must only directly contain li, script or template elements (WCAG 2.2, 1.3.1)</li>
                <li>Table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader. 
                Also screen reader user doesn´t get any information when changing order with arrows. NVDA, JAWS (WCAG 2.2, 1.1.1., 1.3.1)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys). VoiceOver+Firefox (WCAG 2.2)</li>
                <li>Screen reader user doesn’t get information about either the project is  selected in  Project dropdown menu or not. (WCAG 2.2)</li>
                <li>The screen reader user doesn’t get any information about PVC neither other same kind of “tags” in the beginning of the project name (table). VoiceOver+Firefox (WCAG 2.2 1.1.1)</li>
                <li>Table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader. 
                Also screen reader user doesn´t get any information when changing order with arrows. NVDA, JAWS (WCAG 2.2, 1.1.1., 1.3.1)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys). (WCAG 2.2, 4.1.2)</li>
                <li>Certain ARIA roles must contain particular children Element Location: Element Location:div[aria-label="Services"] (WCAG 2.2, 1.3.1)</li>
                <li>Table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader. 
                Also screen reader user doesn´t get any information when changing order with arrows. NVDA, JAWS (WCAG 2.2, 1.1.1., 1.3.1)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys). VoiceOver+Firefox (WCAG 2.2)</li>
                <li>Certain ARIA roles must contain particular children Element Location: div[aria-label="Routes"] (WCAG 2.2, 1.3.1)</li>
                <li>ul and ol must only directly contain li, script or template elements Element Location: section[aria-labelledby="pf-1701154765517vmbv0bd81nq"] > ul (WCAG 2.2, 1.3.1)</li>
                <li>Table headers are not connected to table correctly. User gets misinformation about number of columns and rows with screen reader. 
                Also screen reader user doesn´t get any information when changing order with arrows. NVDA, JAWS (WCAG 2.2, 1.1.1., 1.3.1)</li>
                <li>Browsing the table doesn’t work with the general key combinations explained for screen reader users (arrow keys). VoiceOver+Firefox (WCAG 2.2, 4.1.2)</li>
                <li>Certain ARIA roles must contain particular children Element Location: div[aria-label="ConfigMaps"] (WCAG 2.2, 1.3.1)</li>
                <li>ul and ol must only directly contain li, script or template elements Element Location: section[aria-labelledby="pf1701154765517vmbv0bd81nq"] ul (WCAG 2.2, 1.3.1)</li>
                <li>Resources dropdown stays open even though the user has moved away. (WCAG 2.2)</li>
                <li>All touch targets must be 24px large, or leave sufficient space Element Location: button[data-ouia-component-id="OUIA-Generated-Button-link-41"] (WCAG 2.2, 2.5.8)</li>
                <li>All touch targets must be 24px large, or leave sufficient space Element Location: button[data-ouia-component-id="OUIA-GeneratedButton-link-1"] (WCAG 2.2, 2.5.8)</li>
                <li>Screen reader users don´t get enough information about the content of graphs in observe page (Jaws, NVDA, Talkback) (WCAG 2.2, 1.1.1)</li>
                <li>Time range and refresh interval dropdown don’t work with screen reader. The user isn ’table to select any selection. VoiceOver+Firefox (WCAG 2.2, 2.1.1)</li>
                <li>Dashboard menu stays open even though the user moves out from the menu. (WCAG 2.2, 2.1.1)</li>
            </ul>

        <h3>How have we tested accessibility? </h3>
            <p> The comments in this accessibility statement are based on a third-party assessment of whether the online services meet the requirements defined in the law. <br><br>

            This statement was prepared on 17 December 2023. <br>
            The statement was last updated on December 17, 2023. </p>


      </div> 
    </c-row>
  </c-container>
        <div class="footer">
            <c-row>
                {% include 'footer.html' %}
            </c-row>
        </div>
    </c-main>
  </body>
</html>
